<html ng-app="app">
<head>

    <script src="~/app/app.js" asp-append-version="true"></script>

    @RenderSection("JavascriptHeader", required: false)
</head>
<body>
    <div class="row">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <ul class="navbar navbar-nav">
                    <li>
                        <span class="navbar navbar-brand">Registros</span>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse colapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Registro/Cursos">Cursos</a></li>
                    <li><a href="/Registro/Estudantes">Estudantes</a></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>