<div class="row">
    <div class="span10">
        <h2>Estudantes</h2>
    </div>
</div>
<div class="row">
    <div class="span10">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="estudante in estudantes">
                <td>{{estudante.codigo}}</td>
                <td>{{estudante.nome}}</td>
                <td>{{estudante.email}}</td>
            </tr>
        </table>
    </div>
</div>